body{
	margin : 0;
}

.fs-24{
	font-size : 24px;
}

.fs-12{
	font-size : 12px;
}

.fs-13{
    font-size : 13px;
}

.col-6{
	width : 50%;
	float : left;
}

.va-m{
	vertical-align : middle;
}

.mr-b15{
	margin-bottom : 15px;
}

.mr-b5{
	margin-bottom : 5px;
}

.fr{
    float : right;
}

.fl{
    float : left;
}

.color-w{
	color : #fff;
}

.color-orange{
	color : #e34f0e;
}

.hide{
    display : none;
}

.cursor-p{
    cursor : pointer;
}

.sticky-header{
	background-color: #e34f0e;
	display : inline-block;
    width: 100%;
}

.header-txt{
	padding : 2%;
}

.input-group{
    width: 26%;
    padding: 2%;
    float: left;
    background: #f4edea;
    margin-top: 2%;
    margin-left: 2%;
}

.search-input{
	height: 30px;
    width: 80%;
    font-size : 14px;
}

.search-button{
	padding: 7px;
    font-size: 14px;
}

.search-results, .fav-container{
	width: 60%;
    padding: 2%;
    float: left;
}

.page-block{
	width : 100%;
	float: left;
    padding: 0% 2% 2% 2%;
    border-bottom: 1px solid #ddd;
    margin-bottom : 2%;
}

.lft{
    width: 35%;
    float: left;
}

.lft img{
    max-width: 100%;
    min-height: 150px;
}

.rt{
    width: 60%;
    float: left;
    margin-left: 2%;
    color: #888;
}

.page-block a{
    text-decoration: none;
    color : blue;
}

.like-cont{
    display: inline-block;
    padding: 2px;
    /* background: #ddd; */
    color: #888;
}

.like-img img, .fav-img img{
    min-height: 30px !important;
    width: 30px;
}

.like-count{
    vertical-align: super;
    font-size: 13px;
}